<div class="cards">
    <div class="header newarr">
        <h1>New Arrivals</h1>
    </div>
    <div class="products">
        <div class="productnew">
            <div class="image">
                <img src="../../assets/Images/Succulents.jpg" />
            </div>
            <div class="nameprice">
                <h3>Plant1</h3>
                <span>$ 45</span>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="buy">
                <button>Buy Now</button>
            </div>
        </div>
        <div class="productnew">
            <div class="image">
                <img src="../../assets/Images/Succulents.jpg" />
            </div>
            <div class="nameprice">
                <h3>Plant1</h3>
                <span>$ 45</span>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="buy">
                <button>Buy Now</button>
            </div>
        </div>
        <div class="productnew">
            <div class="image">
                <img src="../../assets/Images/Succulents.jpg" />
            </div>
            <div class="nameprice">
                <h3>Plant1</h3>
                <span>$ 45</span>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="buy">
                <button>Buy Now</button>
            </div>
        </div>
        <div class="productnew">
            <div class="image">
                <img src="../../assets/Images/Succulents.jpg" />
            </div>
            <div class="nameprice">
                <h3>Plant1</h3>
                <span>$ 45</span>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="buy">
                <button>Buy Now</button>
            </div>
        </div>
        <div class="productnew">
            <div class="image">
                <img src="../../assets/Images/Succulents.jpg" />
            </div>
            <div class="nameprice">
                <h3>Plant1</h3>
                <span>$ 45</span>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="buy">
                <button>Buy Now</button>
            </div>
        </div>
        <div class="productnew">
            <div class="image">
                <img src="../../assets/Images/Succulents.jpg" />
            </div>
            <div class="nameprice">
                <h3>Plant1</h3>
                <span>$ 45</span>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="buy">
                <button>Buy Now</button>
            </div>
        </div>
        <div class="productnew">
            <div class="image">
                <img src="../../assets/Images/Succulents.jpg" />
            </div>
            <div class="nameprice">
                <h3>Plant1</h3>
                <span>$ 45</span>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="buy">
                <button>Buy Now</button>
            </div>
        </div>
        <div class="productnew">
            <div class="image">
                <img src="../../assets/Images/Succulents.jpg" />
            </div>
            <div class="nameprice">
                <h3>Plant1</h3>
                <span>$ 45</span>
            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="buy">
                <button>Buy Now</button>
            </div>
        </div>
    </div>
</div>
