<div class="cards cat">
    <div class="header">
        <h1>Categories</h1>
    </div>
    <div class="products">
        <div class="productcat">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1484795945774-dcf93dc95861?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c3VjY3VsZW50fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" />
            </div>
            <div class="cattext">
                <h3>Succulents</h3>
            </div>
        </div>
        <div class="productcat">
            <div class="image">
                <img src="../../assets/Images/Flowering.jpg" class="prodimg">
            </div>
            <div class="cattext">
                <h3>Flowering Plants</h3>
            </div>
        </div>
        <div class="productcat">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1558118720-fa5cdebe6b3a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGluZG9vciUyMHBsYW50c3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" />
            </div>
            <div class="cattext">
                <h3>Indoor</h3>
            </div>
        </div>
        <div class="productcat">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1581782404667-d37708ba39d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fG91dGRvb3IlMjBwbGFudHN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" />
            </div>
            <div class="cattext">
                <h3>Outdoor</h3>
            </div>
        </div>
        <div class="productcat">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1566792720002-d52fdf3d050a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGhlcmJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" />
            </div>
            <div class="cattext">
                <h3>Herbs</h3>
            </div>
        </div>
    </div>
</div>
